.icon-sidebar-container{
      background-color: #1f1f1f;
      height:100%;
      text-align:center;
}

.sidebar-container{
      color:$paragraph_font_color;
      height:100%;
}
h1.widget-title{
      font-size: 25px;
      background: $dark-grey;
      padding: 5px;
      margin: 0 35px;
      margin-top: 40px;
      margin-bottom:30px;
      border-radius: 10px;
}
.sidebar-social-media{
}

#sidebar{
      .widget_archive{
            ul{
                list-style:none;
                margin-left: 20%;
            }
            li{ text-align: left;
                padding-left: 1.3em;
                margin: 10px 0;
                &:before{
                    content: "\f133";
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -1.4em;
                    width:1.3em;
                    text-align: left;
                }
                a{
                  background-color: $dark-grey;
                  padding: 5px;
                  margin:5px;
                  border-radius: 10px;
                  &:hover{
                      text-decoration: none;
                  }}
            }
      }
      .tagcloud{
            .tag-cloud-link{
                      background-color: $dark-grey;
                      padding: 6px;
                      border-radius: 10px;
                      margin:15px 0;
                      font-size:12px;
                      &:hover{ text-decoration: none;}
                  .tag-link-count{
                      margin:15px 0;
                  }
            }
      }
      .widget_authors{
            ul{
                list-style:none;
                margin-left: 20%;
            }
            li{ text-align: left;
                padding-left: 1.3em;
                margin: 10px 0;
                &:before{
                    content: "\f2bd";
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -1.4em;
                    width:1.3em;
                    text-align: left;
                }
                a{
                  background-color: $dark-grey;
                  padding: 5px;
                  margin:5px;
                  border-radius: 10px;
                  &:hover{
                      text-decoration: none;
                  }}
            }
          }
}
