// variables stored here

$font_color: #f0f9ff;
$icon_color: #1485ee;
$paragraph_font_color:#7d8285;
$box_color: #eef4f7;
$font_opacity_low: .5;
$font_opacity_high: .8;
$dark-grey : #333333;
$grey: #656565;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
